Assuntos para falar na reunião do dia 20/06
- desenvolver o conteudo do projeto
  -  fazer o front após os dados prontos
- perguntas a serem feitas p/ o projeto
  

      *perguntas para os episodios*
  ** qual episodio teve o maior indice de audiencia? e qunatos  pontos ele obteve nos EUA?
  * qual é episodio mais votado e quantas pessoas participaram da votação?
  - qual episodio foi votado como o pior? quantas pessoas votaram? qual era a sinopse dele? e quem foi o principal personagem a estar na tela?
  ** Ao total quantos votos a serie teve em todas as temporadas e qual a media geral da serie  de acordo com o publico?
  * Qual é o personagem que mais apareceu na serie, o nome do ator que foi responsável 
por interpretar o personagem  e qual familia ele representava?
  * Qual família tem a a maior quantidade de personagens na série e quantos personagens tem 
  - qual é a menor familia e quantos personagens tem
  * quem foi que escreveu a maior quantidade de episodios na serie e qual foi a temporada que mais teve 
episodios escritos por ele?
  - Diversos personagens apareceram pela primeira vez no decorrer da serie, quantas pessoas apareceram pela primeira vez depois da 3 temo]
  - quem foi o personagem principal(ou seja o que apareceu na tela) de cada temporada e quanto tempo ficou na tela
e qual era a sinopse do episodio?
  - qual regiao possui a maior quantidade de familias? qual possui a menor e qual é a diferença entre a regiao de maior quantidade para a região de menor quantidade?